<div class="landing">
    <div class="dark-overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-1">
                        <img src="../../assets/img/images.png" class="rounded-circle" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>
<br>
<div>
    <header>
        <div class="navbar-wrapper" id="baseNavbar">
            <nav class="navbar navbar-expand-md navbar-dark">
                <div class="container">
                    <a class="navbar-brand  mr-5">
                        <strong class="text-custom1 navbar-brand-size">
                            <h5 class="font-weight-bold">Dashboard</h5>
                        </strong>
                    </a>

                    <button class="navbar-toggler navbar-toggler-right bg-dark" type="button" data-toggle="collapse" data-target="#navbarCollapse2" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse2">
                        <div class="mx-auto">
                            <ul class="navbar-nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link text-custom1 pr-3" href=""><i class="fa fa-user"></i> My Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link mr-3 text-custom1 pr-3"><i class="fa fa-list"></i> My Listings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-custom1 pr-3" href="">
                                        <i class="fa fa-envelope"></i> Message Inbox
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="" class="nav-link mr-3 text-custom1 pr-3"><i class="fa fa-edit"></i> Edit Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link mr-3 text-custom1 pr-3"><i class="fa fa-edit"></i> Change Password</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</div>
